<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GitToVsts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <GitToVsts.Properties.Settings>
            <setting name="Accent" serializeAs="String">
                <value/>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value/>
            </setting>
            <setting name="LoggingPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="TempPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitSourceType" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="VsUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="VsPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="VsProject" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitBinPath" serializeAs="String">
                <value>C:\Program Files\Git\bin\</value>
            </setting>
            <setting name="VsSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitSource" serializeAs="String">
                <value/>
            </setting>
        </GitToVsts.Properties.Settings>
    </userSettings>
</configuration>
