<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GitToVsts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<GitToVsts.Properties.Settings>
			<setting name="LoggingPath" serializeAs="String">
				<value />
			</setting>
			<setting name="TempPath" serializeAs="String">
				<value />
			</setting>
			<setting name="GitSourceType" serializeAs="String">
				<value />
			</setting>
			<setting name="GitUser" serializeAs="String">
				<value />
			</setting>
			<setting name="GitPersonalAccessToken" serializeAs="String">
				<value />
			</setting>
			<setting name="DevOpsUser" serializeAs="String">
				<value />
			</setting>
			<setting name="DevOpsPersonalAccessToken" serializeAs="String">
				<value />
			</setting>
			<setting name="DevOpsProject" serializeAs="String">
				<value />
			</setting>
			<setting name="GitBinPath" serializeAs="String">
				<value>C:\Program Files\Git\bin\</value>
			</setting>
			<setting name="DevOpsSource" serializeAs="String">
				<value />
			</setting>
			<setting name="GitSource" serializeAs="String">
				<value />
			</setting>
			<setting name="DeleteTempRepos" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="UpgradeRequired" serializeAs="String">
				<value>True</value>
			</setting>
		</GitToVsts.Properties.Settings>
	</userSettings>
	<runtime>

	</runtime>
</configuration>